.centerPage {
	text-align: center;
}
.justify {
	text-align: justify;
}
.page {
	background: lightyellow;
	font-size: 18px;
}
.acleft {
	float: left;
	padding: 50px;
}
.list {
	color: green;
	font-style: italic;
	text-align: left;
	padding: 70px;
	background: moccasin;
	list-style-type: square;
}
.practList {
	list-style-type: circle;
	color: green;
	font-style: italic;
	font-weight: bold;
}
.table {
	font-style: italic;
	margin: auto;
	background: floralwhite;
}
.text {
	text-indent: 50px;
}
.first-letter p:first-letter {
	color: red;
	font-size: 150%;
	font-family: "Times New Roman";
}
.color-text {
	color: red;
}
.heading {
	color: red;
	text-align: center;
}
.logoImg {
	width: 70%;
}
.postImg {
	vertical-align: text-bottom;
}
.practImg {
	padding: 0px 30px 0px 30px;
	width: 600px;
	float: left;
}
.zakImg {
	padding: 10px 30px 10px 30px;
	float: right;
}
.bold {
	font-weight: bold;
}




		